{% extends 'king_admin/table_index.html' %}
{% load tags %}

{% block container %}

    <div class="panel panel-info col-lg-10 col-offset-1">
        <div class="panel-heading">
            <h3 class="panel-title">修改 <span style="color: black">{{ obj.name }} </span> 密码
            </h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                {% for i in password_form %}
                    <div class="form-group">
                    <label for="{{ i.id_for_label }}"
                           class="col-sm-3 control-label">{{ i.label }}</label>
                    <div class="col-sm-6">
                        {{ i }}
                        <span style="color: grey">{{ i.help_text }}</span>
                    </div>
                </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9 pull-right">
                        <input type="submit" class="btn btn-info" value="修改密码">
                        {% if errors %}
                            <span style="color: black;margin-left: 40px;" class="btn btn-danger"> * {{ errors }}</span>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

