{% extends 'index.html' %}
{% load crm_tags %}

{% block extra-css-resources %}
    <style>
        .mtop {
            margin-top: 5px;
        }
    </style>
{% endblock %}

{% block page-content %}
    <div id="wizard" class="bwizard clearfix" style="margin-top: 10px;">
        <ol class="bwizard-steps clearfix clickable" role="tablist">
            <li role="tab" aria-selected="false" class="" style="z-index: 4;"><span class="label">1</span><a
                    href="#step1"
                    class="hidden-phone">学员报名</a></li>
            <li role="tab" aria-selected="false" style="z-index: 3;" class=""><span class="label">2</span><a
                    href="#step2"
                    class="hidden-phone">学员信息审核</a>
            </li>
            <li role="tab" aria-selected="true" style="z-index: 2;" class="active"><span
                    class="label badge-inverse">3</span><a href="#step3" class="hidden-phone">生成缴费记录</a></li>
            <li role="tab" aria-selected="false" style="z-index: 1;" class=""><span class="label">4</span><a
                    href="#step4"
                    class="hidden-phone">Kitchen
                Sink</a></li>
        </ol>
    </div>
    <div class="well">
        <form class="form-horizontal" method="post">{% csrf_token %}
            <ul style="color: red">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <div class="form-group">
                <label class="col-sm-2 control-label">客户</label>
                <div class="col-sm-10 mtop">{{ enroll_obj.customer }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">所报课程</label>
                <div class="col-sm-10 mtop">{{ enroll_obj.enrolled_class }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">缴费金额</label>
                <div class="col-sm-10 mtop">
                    <input type="text" name="amount" placeholder="至少1000">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">课程顾问</label>
                <div class="col-sm-10 mtop">
                    {{ enroll_obj.customer.consultant }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="submit" class="btn btn-success pull-right" value="提交">
                </div>

            </div>

        </form>


    </div>


{% endblock %}

{% block extra-js %}
    <script>
        $("#wizard").bwizard();
    </script>

{% endblock %}